/* タイピングゲーム全体 */
body {
  font-size: 6em; 
  text-align: center;
 }
 
 /* ゲームの残り秒数が表示されるタイマーの領域 */
 .count {
  margin: 0;
  font-weight: bold;
  color: #888;
 }
 
 /* テキストが表示される領域 */
 .wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
 }
 
 /* 正しくタイプされた場合のテキスト */
 .typed {
  color: lightgreen;
 }
 
 /* ミスタイプの場合の背景 */
 .mistyped {
  background-color: red;
 }

 .countContainer {
  display: flex; /* 横並びにする */
  align-items: center; /* 縦の中央揃え */
  justify-content: center; /* 横方向に中央揃え */
}

 .countLabel {
  margin: 0;
  font-weight: normal;
  color: #888;
  font-size: 0.5em;
}

 .score {
  margin: 0;
  font-weight: bold;
  color: lightblue;
  font-size: 1em;
}

 #start{
  font-size: 0.5em;
  padding: 10px 20px;  /* ボタンの内側の余白を大きく */
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 10px;
 }